<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>parts</title>
</head>
<body>

<div>

    <form method="post" action="add">
        <input type="text" name="name" placeholder="Название"/>
        <input type="number" name="need" placeholder="Необходимость"/>
        <input type="number" name="number" placeholder="Количество"/>
        <button type="submit">Добавить</button>
    </form>

</div>
</body>
</html>