<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>parts</title>
</head>
<body>

<div>

    <form method="post" action="edit{{part.id}}">
        <input type="text" name="name" value="{{part.name}}"/>
        <input type="number" name="need" value="{{part.need}}"/>
        <input type="number" name="number" value="{{part.number}}"/>
        <button type="submit">Редактировать</button>
    </form>

</div>
</body>
</html>