<!DOCTYPE HTML>
<html>

<body>

<div>КОМПЛЕКТУЮЩИЕ</div>
<table>
    <thead>
    <tr class="table100-head">
        <th class="column1">Наименование</th>
        <th class="column2">Необходимость</th>
        <th class="column3">Количество</th>
        <th class="column4"></th>
        <th class="column5"></th>
    </tr>
    </thead>
    <tbody>
    {{#parts}}
        <tr>
            <td class="column1">{{name}}</td>
            <td class="column2">{{need}}</td>
            <td class="column3">{{number}}</td>
            <td class="column4">
            </td>
            <td class="column5">
            </td>
        </tr>

    {{/parts}}
    </tbody>
</table>

<table>

    <tr>
        <td class="col-vo">Количество : </td>
    </tr>

</table>



    <div>
        <form method="post" action="add">
            <input type="text" name="name" placeholder="Введите название"/>
            <input type="number" name="need" placeholder="Необходимость"/>
            <input type="number" name="number" placeholder="Количество"/>
            <button type="submit">Добавить</button>
        </form>

    </div>
    <div/>

    <div>
        <form method="post" action="delete">
            <input type="text" name="name" placeholder="Введите название"/>
            <button type="submit">Удалить</button>
        </form>

    </div>
</body>
</html>