<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>parts</title>
</head>
<body>

<div>КОМПЛЕКТУЮЩИЕ</div>
<table border="1">
    <thead>
    <tr class="table100-head">
        <th class="column1">Наименование</th>
        <th class="column2">Необходимость</th>
        <th class="column3">Количество</th>
        <th class="column4"></th>
        <th class="column5"></th>
    </tr>
    </thead>
    <tbody>
    {{#parts}}
        <tr>
            <td class="column1">{{name}}</td>
            <td class="column2">{{need}}</td>
            <td class="column3">{{number}}</td>
            <td class="column4"><a href="/edit{{id}}">Редактировать</a></td>
            <td class="column5"><a href="/delete{{id}}">Удалить</a></td>
        </tr>

    {{/parts}}
    </tbody>
</table>

<div>
    <span>Количество деталей : {{countAll}}</span>
</div>

<div>
    <span>Можно собрать : {{countMin}}</span>
</div>

<div>
    <form method="get" action="/add">
        <button type="submit">Добавить</button>
    </form>
</div>


</body>
</html>